// Brand
$red: #F24747;//#f33;
$navy: #0F2634;
$yellow: #e9ac00;
$blue-lt: #89BAF4;
$teal: $blue-lt;
$bg: #da4453;
$lime: #D3ED13;
$code-bg: #FAFAFA;

// Neutrals
$white: #fff;
$black: #000;
$grey-dk: lighten($black, 10%); // 1a1a1a
$grey: lighten($black, 20%); // 333333
$grey-lt: lighten($black, 40%); // 666666
$silver-dk: lighten($black, 60%); // 999999
$silver: lighten($black, 80%); // cccccc
$silver-lt: lighten($black, 90%); // e6e6e6
$smoke: lighten($black, 95%); // f2f2f2

// Special
$link: $red;
$link-hover: $black;
$alert: #cccc00;
$success: #00cc66;
$failure: #cc0000;
$facebook: #3B5999;
$twitter: #00ACEE;

$sans: "Titillium Web", "Lucida Grande", "Lucida Sans",sans-serif;
$serif: Georgia, serif;
$mono: monospace;

// Base
$base-font-size: 16px;
$base-line-height: 1.5;
$base-font-family: $sans;
$base-color: $grey;


// Headings
$hn-font-weight: 700;
$hn-line-height: 1;
$hn-font-family: $sans;
$hn-color: $navy;
$h1-size: 36px;
$h2-size: 24px;
$h3-size: 18px;
$h4-size: 16px;
$h5-size: 16px;
$h6-size: 16px;


// Fixed width
$mono-size: 18px;
$mono-line-height: $base-line-height;
$mono-font-family: $mono;


// Special
$lede-size: 24px;
$small-size: 12px;
$micro-size: 10px;


$border-box: true;

// Spacing
$base-spacing: $base-font-size * $base-line-height;
$half-spacing: ceil($base-spacing / 2);

// Radii
$base-radius: 5px;
$half-radius: ceil($base-radius / 2);

// Grids
$column-width: 80px;
$gutter-width: 20px;
$page-width: 1000px;

$lap-start: 700px;
$desk-start: 900px;
$wide-start: 1100px;
$fa-css-prefix: "icon";
$header-height: 70px;
