<!DOCTYPE html>
<html>

{{inc src="_includes/head.hbs"}}

<body>

{{inc src="_includes/header.hbs"}}

<div class="site-body" role="main">
    {{ content }}
</div>

{{inc src="_includes/footer.hbs"}}

</body>
</html>