<!DOCTYPE html>
<html>

{{inc src="head.hbs"}}

<body id="page-top">

{{inc src="header.hbs"}}

<div class="site-body" role="main">
    {{ content }}
</div>

{{inc src="footer.hbs"}}

</body>
</html>
