<footer class="wrapper site-footer" role="contentinfo">
    <div class="container">

        <p class="text--center">
            <a href="http://www.wearejh.com/">
                <img src="/img/jh.jpg" alt="We are JH"/>
            </a>
        </p>
        <p>BrowserSync is developed & maintained internally at <a href="http://www.wearejh.com/">JH</a></p>
        <p class="flush">Created by <a href="http://shakyshane.com/">Shane Osbourne</a>. Design is by <a href="http://www.josephrussell.co.uk/">Joseph Russell</a>.<br> BrowserSync is available for use and modification under the <a href="https://github.com/shakyShane/browser-sync/blob/master/LICENSE">Apache 2.0 License</a>.</p>

        <p class="social-links">
            <a href="{{site.links.source}}">
                <i class="icon icon-github"></i>
            </a>
            <a href="{{site.links.twitter}}">
                <i class="icon icon-twitter"></i>
            </a>
        </p>
    </div>
</footer><!-- end .site-footer -->

{{#if_eq site.env "production"}}
    {{inc src="_includes/analytics.html" }}
{{/if_eq}}