<div class="doc-nav">
    <span class="nav-expand">
        {{inc src="icon.hbs" icon="menu" class="open"}}
        {{inc src="icon.hbs" icon="cross" class="close"}}
    </span>
    <div class="sticky-nav">
        <p class="lede">Jump to...</p>
        <ul class="sticky-nav__items" id="sticky-nav">
            {{#each site.cliCommands}}
            <li class="sticky-nav__item"><a class="nav-link" href="#{{this.name}}"><code>$ browser-sync {{this.name}}</code></a></li>
            {{/each}}
        </ul>
    </div>
</div>
