<div class="doc-nav">
    <span class="nav-expand">
        {{inc src="icon.hbs" icon="menu" class="open"}}
        {{inc src="icon.hbs" icon="cross" class="close"}}
    </span>
    <div class="sticky-nav">
        <p class="lede">Sections</p>
        <ul class="sticky-nav__items" id="sticky-nav">
            {{#loop site.docs-navigation}}
                <li class="sticky-nav__item"><a class="nav-link" href="{{ this.url }}">{{this.label}}</a></li>
            {{/loop}}
        </ul>
    </div>
</div>
