<div class="sticky-nav">
    <p class="lede">Sections</p>
    <ul class="nav nav--stacked" id="sticky-nav">
        <li class="nav-toggle-btn"><a href="#sticky-nav">Menu</a></li>

        <!--<li class="nav-toggle-btn"><a href="#sticky-nav">Menu</a></li>-->
        {{#loop site.docs-navigation}}
            <li><a href="{{ this.url }}">{{this.label}}</a></li>
        {{/loop}}
        {{#loop site.docs.api}}
        {{/loop}}
    </ul>
</div>
