<div class="sticky-nav">
    <p class="lede">Sections</p>
    <ul class="sticky-nav__items" id="sticky-nav">
        {{#loop site.docs-navigation}}
            <li class="sticky-nav__item"><a class="nav-link" href="{{ this.url }}">{{this.label}}</a></li>
        {{/loop}}
        {{#loop site.docs.api}}
        {{/loop}}
    </ul>
</div>
