<div class="wrapper docs-nav">
    <div class="container">
        <ul class="fixed-nav">
            {{#each site.docs-navigation}}
                <li class="fixed-nav__item"><a class="nav-link" href="{{this.url}}" {{#current this
                .url}}class="active"{{/current}}>{{
                this.label}}</a></li>
            {{/each}}
        </ul>
    </div>
</div>