<footer class="wrapper wrapper--dark site-footer" role="contentinfo">
    <div class="container">

        <div class="credit">
            <a class="credit__thumb" href="http://www.wearejh.com/"><img src="/img/jh-300-trans.png" alt="JH"/></a>
            <div class="credit__content">
                <p>The BrowserSync project is supported by <a href="http://www.wearejh.com/">JH</a>, with design and development by <a href="https://twitter.com/shaneosbourne">Shane Osbourne</a>, <a href="https://twitter.com/whatjoesays">Joseph Russell</a>, <a href="https://twitter.com/chris3ailey">Chris Bailey</a> and <a href="https://twitter.com/o_chenery">Oliver Chenery</a>. For regular information on updates and usage, please follow <a href="{{site.links.twitter}}">@browsersync</a>.</p>
                <p>BrowserSync is available for use and modification under the <a href="https://github.com/shakyShane/browser-sync/blob/master/LICENSE">Apache 2.0 License</a>.</p>
            </div>
        </div>

    </div>
</footer><!-- end .site-footer -->

{{#if_eq site.env "production"}}
    {{inc src="_includes/analytics.html" }}
{{/if_eq}}
