<footer class="wrapper wrapper--dark signup" role="contentinfo">
    <div class="container">
        <p class="signup__title">Stay up to date with the latest features</p>
        <div class="signup__form">
            <input type="text" placeholder="email..." class="input input--text form__email"/>
            <input type="button" value="Signup" class="button button--primary form__submit"/>
        </div>
    </div>
</footer><!-- end .site-footer -->

<div class="credit">
    <a class="credit__thumb" href="{{site.links.jh}}"><img src="/img/jh-300-trans.png" alt="JH"/></a>
    <div class="credit__content">
        <p>as</p>
    </div>
    <p>Website built with <a href="{{site.links.crossbow}}">Crossbow.js</a></p>
</div>

{{#if_eq site.env "production"}}
    {{inc src="_includes/analytics.hbs" }}
{{/if_eq}}
