<div class="sticky-nav">
    <p class="lede">Jump to...</p>
    <ul class="nav nav--stacked" id="sticky-nav">
        <li class="nav-toggle-btn"><a href="#sticky-nav">Menu</a></li>
        <li><a href="#grunt-install">Install</a></li>
        <li><a href="#grunt-server">Static File Server</a></li>
        <li><a href="#grunt-proxy">Proxy</a></li>
        <li><a href="#grunt-watch">+ other watch tasks</a></li>
    </ul>
</div>