<div class="sticky-nav">
    <p class="lede">Jump to...</p>
    <ul class="sticky-nav__items" id="sticky-nav">
        <!--<li class="nav-toggle-btn"><a href="#sticky-nav">Menu</a></li>-->
        <li class="sticky-nav__item"><a class="nav-link" href="#gulp-install">Install</a></li>
        <li class="sticky-nav__item"><a class="nav-link" href="#gulp-sass-css">SASS + CSS Injecting</a></li>
        <li class="sticky-nav__item"><a class="nav-link" href="#gulp-sass-maps">SASS & Source Maps</a></li>
        <li class="sticky-nav__item"><a class="nav-link" href="#gulp-reload">Browser Reloading</a></li>
        <li class="sticky-nav__item"><a class="nav-link" href="#gulp-manual-reload">Manual Reloading</a></li>
    </ul>
</div>
