<div class="sticky-nav">
    <p class="lede">Available Options</p>
    <ul class="nav nav--stacked" id="sticky-nav">
        <li class="nav-toggle-btn"><a href="#sticky-nav">Menu</a></li>
        {{#loop site.docs.options}}
        <li><a href="#option-{{this.name}}">{{this.name}}</a></li>
        {{/loop}}
    </ul>
</div>
