<h3 id="command-line-options">Options
    <a href="#command-line-options" class="page-anchor"><i class="icon icon-external-link"></i></a></h3>

<p>These are the options you can use when running BrowserSync</p>

<table>
    <% loop options as opt %>
        <tr>
            <td>{: opt.name :}</td>
            <td>{: opt.desc :}</td>
        </tr>
    <% /loop %>
</table>


<% loop examples as example %>
<h3 id="command-line-{: example.title :}-examples">{: example.title :}
    <a href="#command-line-{: example.title :}-examples" class="page-anchor"><i class="icon icon-external-link"></i></a></h3>

{{#hl lang="bash" }}
<% loop example.items as item %>
# {: item.desc :}
$ browser-sync start<% loop item.args as arg %> {:arg:}<% /loop %>
<% /loop %>
{{/hl}}
<% /loop %>
