---
layout: "default.hbs"
---
<section id="page-top" class="wrapper code-example {{page.page-label}}">
    <div class="container">
        <article class="doc-wrapper">
            <h1 class="text--center">{{page.title}}</h1>
            {{ content }}
        </article>
    </div>
</section>