code, samp {

    @include font-size(16px);
    font-family: $mono-font-family;
    //border-radius: 3px;
    background: $code-bg;
    padding: 2px 4px;
    margin: 0 2px;
    border: 1px solid darken($code-bg, 5%);
    border-radius: 3px;
}

pre {

    padding: $base-spacing;
    line-height: 1.4;
    background: $code-bg;

    /* reset previous inline code styles */
    code {
        border: 0;
        padding: 0;
        margin: 0;
    }

    margin-bottom: $base-spacing;
    //margin-left: -$half-spacing;
    //margin-right: -$half-spacing;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    @include media-query(min, $lap-start) {

        margin-left: 0;
        margin-right: 0;
        //margin-right: -($base-spacing*1.5);
        //border-left-width: 5px;
        //border-right-width: 5px;
    }
}


.section-link {
    padding-bottom: $half-spacing;
    border-bottom: 1px dashed $silver-lt;
}

.code-example {

    padding-top: 0;

    h2 {
        @include font-size(32px);
        color: $navy;
    }

    p, h2, h3 {

        margin-bottom: $base-spacing;

        @media (min-width: $lap-start) {

            margin-bottom: $base-spacing;

            &.flush {
                margin-bottom: $base-spacing;
            }
        }

        &.flush {

            margin-bottom: $half-spacing;
        }
    }

    @media (min-width: $lap-start) {
        padding-top: $base-spacing;
    }

    .container {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    h3 {

        @include font-size(22px);
        padding-top: $half-spacing;
        margin-bottom: $half-spacing;
        position: relative;

        a {
            color: $navy;
        }

        @media (min-width: $lap-start) {

            @include font-size(30px);
            padding-top: $base-spacing+$half-spacing;
            margin-bottom: $base-spacing;
            border-top: 0;
        }

        .icon {
            @include font-size(20px);
            margin-left: $half-spacing/2;
        }
    }

    &.docs {
        text-align: center;

        ul {

            margin-bottom: $base-spacing*2;

            li {
                display: inline-block;
                p {
                    margin-bottom: 0;
                }
                a {
                    display: block;
                    padding: $half-spacing;
                }
            }

            &:before {
                content: "";
                display: none;
            }
        }
    }
}

.param-list {

    list-style: none;
    margin-bottom: $base-spacing;

    li {

        color: $black;

        &.name, &.type {
            line-height: 30px;

            .icon {
                @include font-size(14px);
                margin-left: $half-spacing/3;
            }
        }

        &.name {
            @include font-size(20px);
            color: black;
            font-weight: $hn-font-weight;
        }

        &.type {
            //border-bottom: 1px solid $silver-lt;
        }

        &.desc {
            padding-top: $half-spacing;
        }

        .recede {
            color: #9e9e9e;
        }
    }
}

.page-anchor {

    color: $navy;
    position: relative;
    font-weight: normal;

    &:after {
        transition: all .3s;
        content: "";
        width: 0;
        height: 1px;
        background: $navy;
        position: absolute;
        bottom: -5px;
        left: 0;
    }
    &:hover {
        &:after {
            width: 100%;
        }
        text-decoration: none;
    }
}


.page-title {

    @include font-size(20px);
    font-weight: normal;

    @media (min-width: $lap-start) {
        @include font-size(34px);
        margin-bottom: $base-spacing;
        padding-bottom: $half-spacing;
        border-bottom: 1px dashed $silver;
    }
}

.color-teal {
    //color: $teal;
}

.subprops {
    margin-top: $half-spacing;
    padding-left: $half-spacing;
}

.back-to-top {
    font-weight: normal;
    @include font-size(14px);
    position: absolute;
    top: $base-spacing - 5px;
    right: 0;

    &:hover {
        text-decoration: none;
    }

    @include media-query(min, $lap-start) {
        top: $base-spacing * 2;
    }
}

.highlight-header {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    height: 28px;
    background: #E7E7E7;
    padding-left: $half-spacing;
    position: relative;
    display: flex;

    .circle {
        margin: auto 0;
        width: 12px;
        height: 12px;
        background: $white;
        border-radius: 50%;
        margin-right: 8px;
    }

    .svg-icon {
        color: #a4a4a4;
        position: absolute;
        right: $half-spacing;
        top: $half-spacing/2;
    }
}
