/**
 * Base typography styles
 */
code, samp {

    @include font-size(16px);
    font-family: $mono-font-family;
    //border-radius: 3px;
    background: $code-bg;
    padding: 2px 4px;
    margin: 0 2px;
    border: 1px solid darken($code-bg, 5%);
    border-radius: 3px;
}

pre {

    padding: $base-spacing;
    line-height: 1;
    background: $code-bg;

    /* reset previous inline code styles */
    code {
        border: 0;
        padding: 0;
        margin: 0;
    }

    margin-bottom: $base-spacing;
    margin-left: -$half-spacing;
    margin-right: -$half-spacing;
    border: 5px solid darken($code-bg, 2%);
    border-left-width: 0;
    border-right-width: 0;

    @include media-query(min, $lap-start) {

        margin-left: 0;
        //margin-right: -($base-spacing*1.5);
        border-left-width: 5px;
        border-right-width: 5px;
    }
}

$spacing: $base-spacing+$half-spacing;

.doc-wrapper {

    background: $white;
    padding: $half-spacing;
    border-radius: 0px;

    @media (min-width: $lap-start) {
        border-radius: 5px;
        border: 1px solid $silver;
        padding: $spacing $spacing 0;
    }

    .page-title {

        @include font-size(20px);

        @media (min-width: $lap-start) {
            @include font-size(34px);
            margin-bottom: $base-spacing;
            padding-bottom: $half-spacing;
            border-bottom: 1px dashed $silver;
        }
    }
}

.section-link {
    padding-bottom: $half-spacing;
    border-bottom: 1px dashed $silver-lt;
}

/**
 * Styles specific to pages that contain docs
 */
.code-example {

    background: #F2F2F2;
    padding-top: 0;

    h2 {
        @include font-size(32px);
        color: $navy;
    }

    p, h2, h3 {

        margin-bottom: $base-spacing;

        @media (min-width: $lap-start) {

            margin-bottom: $base-spacing;

            &.flush {
                margin-bottom: $base-spacing;
            }
        }

        &.flush {

            margin-bottom: $half-spacing;
        }
    }

    @media (min-width: $lap-start) {
        padding-top: $base-spacing;
    }

    .container {
        padding-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    h3 {

        @include font-size(22px);
        padding-top: $half-spacing;
        margin-bottom: $half-spacing;
        position: relative;

        a {
            color: $navy;
        }

        @media (min-width: $lap-start) {

            @include font-size(30px);
            padding-top: $base-spacing+$half-spacing;
            margin-bottom: $base-spacing;
            border-top: 0;
        }

        .icon {
            @include font-size(20px);
            margin-left: $half-spacing/2;
        }
    }

    h4 {
        font-weight: normal;
        @include font-size(20px);
        color: $teal;
        margin-bottom: $base-spacing;
    }

    &.docs {
        text-align: center;

        ul {

            margin-bottom: $base-spacing*2;

            li {
                display: inline-block;
                p {
                    margin-bottom: 0;
                }
                a {
                    display: block;
                    padding: $half-spacing;
                }
            }

            &:before {
                content: "";
                display: none;
            }
        }
    }
}

/*
 * Param list
 */
.param-list {

    list-style: none;
    margin-bottom: $base-spacing;

    li {

        color: $black;

        &.name, &.type {
            line-height: 30px;

            .icon {
                @include font-size(14px);
                margin-left: $half-spacing/3;
            }
        }

        &.name {
            @include font-size(20px);
            color: black;
            font-weight: $hn-font-weight;
        }

        &.type {
            //border-bottom: 1px solid $silver-lt;
        }

        &.desc {
            padding-top: $half-spacing;
        }

        .recede {
            color: #9e9e9e;
        }
    }
}

.page-anchor {
    color: $navy;
    .icon {
        color: darken($lime, 10%);
        position: relative;
        top: 1px;
    }
}

.color-teal {
    color: $teal;
}

.subprops {
    margin-top: $half-spacing;
    padding-left: $half-spacing;
}