.docs-nav {
    background: $navy;
}

.fixed-nav {
    border-top: 1px solid lighten($navy, 10%);

    @include media-query(min, $lap-start) {
        border-top: 0;
    }
    list-style: none;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 0;

    .nav-link {
        height: 50px;
        line-height: 50px;
        &:hover {
            border-bottom: 0;
        }
    }
}

.fixed-nav__item {
    display: inline-block;
    &.active {
        .nav-link {
            font-weight: bold;
        }
    }
    a {
        color: $white;
    }
}