.docs-nav {
    background: $navy;
}

.fixed-nav {
    border-top: 1px solid lighten($navy, 10%);

    @include media-query(min, $lap-start) {
        border-top: 0;
    }
    list-style: none;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    margin-bottom: 0;

    .nav-link {
        height: 50px;
        line-height: 50px;

        &:hover, &:focus {
            color: $white;
            background: rgba(white, .1);
            text-decoration: none;
        }
    }
}

.fixed-nav__item {
    display: inline-block;
    &.active {
        .nav-link {
            font-weight: bold;
        }
    }
    a {
        color: $white;
    }
}

.sticky-nav {
    border-radius: 3px;
    padding: $half-spacing;
    background: rgba($white, .99);
    border: 1px solid #ECECEC;
    border-top: 3px solid $red;
    opacity: 0;
    visibility: hidden;
    width: 100%;
    transition: all .3s;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .open & {
        opacity: 1;
        visibility: visible;
        max-height: 80vh;
    }

    @include media-query(min, $lap-start) {
        position: relative;
        opacity: 1;
        visibility: visible;
    }
}

.sticky-nav__items {
    list-style: none;
    margin-bottom: 0;

    .sticky-nav__item {
        &:last-child {
            .nav-link {
                border-bottom: 0;
            }
        }
    }
}

.sticky-nav__item {

    list-style: none;

    .nav-link {

        color: $navy;
        width: 100%;
        height: auto;
        padding: $half-spacing 0;
        border-bottom: 1px solid #f9f9f9;
        position: relative;

        @include media-query(min, $lap-start) {
            padding: $half-spacing/3 0;
        }
    }
}

.doc-wrapper {
    position: relative;
}

.doc-nav {
    min-height: 50px;
    position: relative;
    width: calc(100% - 24px);
    position: absolute;

    @include media-query(min, $lap-start) {
        position: relative;
        width: 100%;
    }

    &.sticky {
        position: fixed;
        top: $half-spacing;
    }
}

.nav-expand {

    width: 50px;
    height: 50px;
    display: block;
    border: 3px solid $navy;
    border-radius: 50%;
    position: absolute;
    right: $half-spacing;
    top: $half-spacing;
    background: rgba($white, .9);
    z-index: 1;

    @include media-query(min, $lap-start) {
        display: none;
    }

    &:hover {
        cursor: pointer;
    }

    .line1,
    .line2,
    .line3,
    {
        position: absolute;
        width: 22px;
        height: 3px;
        display: block;
        background: $navy;
        left: 11px;
        transition: all .3s;

        .open & {
            background: $red;
        }
    }

    .open & {
        border-color: $red;
        .line2 {
            opacity: 0;
        }
        .line1 {
            top: 20px;
            transform: rotate(45deg);
        }
        .line3 {
            top: 21px;
            transform: rotate(135deg);
        }
    }

    .line1 {
        top: 14px;
    }
    .line2 {
        top: 22px;
    }
    .line3 {
        top: 30px;
    }
}