// Feature list

.features {
    margin-top: $base-spacing;

    @include media-query(min, $lap-start) {
        margin-top: $base-spacing*3;
    }

    .section-title {
        margin-bottom: $base-spacing*2;
        @include media-query(min, $lap-start) {
        }
    }
}

.feature__list {
    //margin-left: -$base-spacing;
    list-style: none;
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.feature__item {
    //padding-left: $base-spacing;
    width: 49%;
    @include media-query(min, $lap-start) {
        width: 31%;
    }
}

.feature {
    @include clearfix();
    margin-bottom: $base-spacing;
}

.feature__content {
    margin-bottom: $base-spacing;
}

.feature__title {
    display: flex;
    padding: 0;
    margin-bottom: $half-spacing;
    h3 {
        padding: 0;
        margin: 0;
        line-height: 1.1;
        @include media-query(min, $lap-start) {
            line-height: 1.5;
        }
    }
    .svg-icon {
        color: $red;
        width: 20px;
        height: 20px;
        margin-right: $half-spacing/2;
        @include media-query(min, $lap-start) {
            width: 30px;
            height: 30px;
            margin-right: $half-spacing;
        }
    }
}
