$spacing: $base-spacing + $half-spacing;

.doc-wrapper {

    background: $white;
    padding: $half-spacing;
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (min-width: $lap-start) {
        border-radius: 5px;
        padding: $spacing $spacing 0;
    }
}

.one-quarter {
    width: 100%;
    order: 1;
    @include media-query(min, $lap-start) {
        order: 2;
        width: 28%;
    }
}
.three-quarters {
    order: 2;
    width: 100%;
    @include media-query(min, $lap-start) {
        order: 1;
        width: 65%;
    }
}
