
.grid {
    @include clearfix();
    @include list-reset();
    margin-bottom: 0;
    margin-left: -4%;
}

.grid__cell {
    float: left;
    padding-left: 4%;
    width: 100%;
}

.one-quarter {
    @include media-query(min, $lap-start) {
        width: 25%;
    }
}
.three-quarters {
    @include media-query(min, $lap-start) {
        width: 75%;
    }
}

@include media-query(max, $lap-start) {
    .palm-2up {
        .grid__cell {
            width: 50%;

            &:nth-child(2n+1) {
                clear: left;
            }
        }
    }

    .palm-4up {
        .grid__cell {
            width: 25%;

            &:nth-child(4n+1) {
                clear: left;
            }
        }
    }
}

@include media-query-bracket($lap-start, $desk-start) {
    .lap-2up {
        .grid__cell {
            width: 50%;

            &:nth-child(2n+1) {
                clear: left;
            }
        }
    }

    .lap-4up {
        .grid__cell {
            width: 25%;

            &:nth-child(4n+1) {
                clear: left;
            }
        }
    }
}

@include media-query(min, $desk-start) {
    .desk-2up {
        .grid__cell {
            width: 50%;

            &:nth-child(2n+1) {
                clear: left;
            }
        }
    }

    .desk-4up {
        .grid__cell {
            width: 25%;

            &:nth-child(4n+1) {
                clear: left;
            }
        }
    }
}