@import "../vars";

.site-header {

    text-align: center;
    background: $navy;

    @include media-query(min, $lap-start) {
        height: $header-height;
    }

    &.alt {

        padding-top: 0;
        padding-bottom: 0;

        a {
            border-bottom: 0;
        }
    }
}

.logo {

    border: 0!important;
    font-weight: bold;
    @include font-size(24px);
    width: 100%;
    text-align: left;

    span {
        font-weight: normal;
    }

    .nav-link {
        position: relative;
        height: $header-height;
        line-height: $header-height - 4px;
    }

    .svg-icon {
        position: relative;
        top: -2px;
        margin-right: $half-spacing/2;
    }

    @include media-query(min, $lap-start) {
        width: auto;
    }
}

.logo--large {
    display: none;
    @include media-query(min, $lap-start) {
        display: inline-block;
        width:  120px;
        height: 120px;
    }
}

.site-nav {
    list-style: none;
    position: relative;
    @include clearfix;

    @include media-query(min, $lap-start) {
        display: flex;
    }
}
