.site-header {

    text-align: center;
    background: $navy;

    @include media-query(min, $lap-start) {
        height: $header-height;
    }

    &.alt {

        padding-top: 0;
        padding-bottom: 0;

        a {
            border-bottom: 0;
        }
    }
}

.site-logo {

    border: 0!important;
    font-weight: bold;
    @include font-size(24px);
    width: 100%;
    text-align: left;

    a {
        position: relative;
        top: -2px;
        height: $header-height;
        line-height: $header-height;
    }

    .svg-icon {
        position: relative;
        top: -2px;
        margin-right: $half-spacing/2;
        @include media-query(min, $lap-start) {
            display: none;
        }
    }

    @include media-query(min, $lap-start) {
        width: auto;
    }
}
