.integrations {
    margin-top: $base-spacing;
    padding: $base-spacing 0;
    background: $navy;
    color: $white;
    text-align: center;
    @include font-size(18px);

    a {
        color: white;
        font-weight: bold;
    }

    @include media-query(min, $lap-start) {
        padding: 0;
        text-align: left;
        height: 83px;
        line-height: 83px;
        margin-top: $base-spacing*3;
    }

    .container {
        position: relative;
    }
}

.integrations__text {
    margin-bottom: 0;
}

.integrations__thumb {
    width: 100px;
    margin: 0 auto;

    @include media-query(min, $lap-start) {
        width: 198px;
        position: absolute;
        right: $half-spacing;
        top: -($base-spacing*2);
    }
}
