
.logo {
    //width: 90px;
    //height: 90px;
}

.intro {
    text-align: center;
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;
    color: $white;
    padding-top: $header-height/2;
    padding-bottom: $base-spacing;

    @include media-query(min, $lap-start) {
        margin-top: -$header-height;
        padding-top: $header-height*2;
        padding-bottom: $base-spacing*3;
        margin-bottom: $base-spacing*3;
    }
}

.hook {
    margin: 0 auto $base-spacing;
    padding-top: 0;
    margin-bottom: $base-spacing/2;

    @include media-query(min, $lap-start) {
        padding-top: $base-spacing;
    }

    @include media-query(min, $desk-start) {
        padding-top: $base-spacing*1.5;
        @include font-size(48px);
    }
}

.ronseal {
    margin: 0 auto $base-spacing;
    font-style: italic;
    font-weight: bold;
    @include font-size(20px);
}

.video {
    margin-bottom: $base-spacing;
}

.video__link {
    display: inline-block;
    color: $white;

    &:focus {
        color: $white;
    }
    &:hover {

        color: $white;

        .svg-icon {
            transform: rotate(360deg)  scale(1.1);
        }
    }

    &:active {
        color: $white;
        .svg-icon {
            transform:  rotate(360deg) scale(1);
        }
    }

    .svg-icon {
        transition: all .3s;
        width: 40px;
        height: 40px;
    }
}

.how-to {
    font-family: monospace;
    margin-bottom: $base-spacing;
}

.how-to__command {
    font-family: monospace;
    background: rgba(white, .5);
    padding: $half-spacing + 3px $base-spacing $half-spacing + 3px;
    border-radius: 5px;
    color: $black;
    display: inline-block;
    line-height: .8;
}

.player {
    display: none;
}
