
.logo {
    //width: 90px;
    //height: 90px;
}

.intro {
    text-align: center;
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;
    color: $white;
    padding-top: $header-height/2;

    @include media-query(min, $lap-start) {
        margin-top: -$header-height;
        padding-top: $header-height*1.5;
    }
}

.hook {
    margin: 0 auto $base-spacing;
    padding-top: 0;
    margin-bottom: $base-spacing/2;

    @include media-query(min, $lap-start) {
        padding-top: $base-spacing;
    }

    @include media-query(min, $desk-start) {
        padding-top: $base-spacing;
        @include font-size(48px);
    }
}

.ronseal {
    margin: 0 auto $base-spacing;
    @include font-size(18px);

    @include media-query(min, $desk-start) {
        // margin-bottom: 2*$base-spacing;
        @include font-size(20px);
    }
}

.video {
    margin-bottom: $base-spacing;
}

.video__link {
    display: inline-block;
    color: $white;

    &:hover, &:focus {

        color: $white;

        .svg-icon {
            transform: rotate(360deg)  scale(1.1);
        }
    }

    &:active {
        color: $white;
        .svg-icon {
            transform:  rotate(360deg) scale(1);
        }
    }

    .svg-icon {
        transition: all .3s;
        width: 40px;
        height: 40px;
    }
}

.cta {
    margin: 0 0 $base-spacing;

    .button {
        border: 0!important;
    }

    .stat {
        display: block;
        margin-top: $half-spacing;
        @include font-size(12px);
    }

    @include media-query(min, $desk-start) {
        margin-bottom: 2*$base-spacing;

        .button {
            padding: 1.5*$half-spacing 1.5*$base-spacing;
            @include font-size(24px);
        }
    }
}
