
.logo {
    //width: 90px;
    //height: 90px;
}

.intro {
    text-align: center;
    background: url('../img/bg.jpg') no-repeat;
    background-size: cover;
    color: $white;
    padding-top: $header-height/2;
    padding-bottom: $base-spacing;
    position: relative;

    @include media-query(min, $lap-start) {
        margin-top: -$header-height;
        padding-top: $header-height*2;
        padding-bottom: $base-spacing*3;
        margin-bottom: $base-spacing*3;
    }
}

.hook {
    margin: 0 auto $base-spacing;
    padding-top: 0;
    margin-bottom: $base-spacing/2;

    @include media-query(min, $lap-start) {
        padding-top: $base-spacing;
    }

    @include media-query(min, $desk-start) {
        padding-top: $base-spacing;
        @include font-size(48px);
    }
}

.ronseal {
    margin: 0 auto $base-spacing;
    font-style: italic;
    font-weight: bold;
    @include font-size(20px);
}

.video {
    margin-bottom: $base-spacing;
}

.video__link {
    display: inline-block;
    color: $white;

    &:focus {
        color: $white;
    }
    &:hover {

        color: $white;

        .svg-icon {
            transform: scale(1.2);
        }
    }

    &:active {
        color: $white;
        .svg-icon {
            transform: scale(1);
        }
    }

    .svg-icon {
        transition: all .3s;
        width: 40px;
        height: 40px;
    }
}

.how-to {
    font-family: monospace;
    margin-bottom: $base-spacing;
}

.how-to__command {
    font-family: monospace;
    background: rgba(white, .5);
    padding: $half-spacing + 3px $base-spacing $half-spacing + 3px;
    border-radius: 5px;
    color: $black;
    display: inline-block;
    line-height: .8;
}

.player {
    display: none;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba($black, .9);
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;

    &.open {
        opacity: 1;
        visibility: visible;
    }
}

.overlay__close {
    position: absolute;
    top: $half-spacing;
    right: $half-spacing;
    //padding-top: $base-spacing;
    //flex: 1;
    //border: 1px solid green;
    &:hover {
        cursor: pointer;
    }
    .svg-icon {
        font-size: 40px;
    }
}

.overlay__content {
    width: 100%;
    align-self: center;
    //background: green;
    //position: relative;
    //height: 100%;
}
.overlay__video {
    max-width: 500px;
    margin: auto;
    //padding-bottom: 40%;
    @include media-query(min, $lap-start) {
        max-width: 800px;
    }
    iframe {
        width: 100%;
    }
}
