.jh {
    padding: ($base-spacing*2) 0;
    background: url("../img/jh-bg.jpg") no-repeat top center;
    background-size: cover;
    text-align: center;
    color: white;

    a {
        &:hover {
            color: $white;
        }
    }
}

.jh__logo {
    width: 82px;
    display: block;
    margin: 0 auto;

    img {
        width: 100%;
    }
}

.jh__title {
    margin-top: $half-spacing;
}

.jh__links {
    font-size: 0;
    padding-top: $base-spacing;
    a {
        color: $white;
        margin: 0 $half-spacing;
        &:hover {
            color: $white;
        }
    }
    .svg-icon {
        height: 30px;
        width:  30px;
    }
}
