.jh {
    background: url("../img/jh-bg.jpg") no-repeat top center;
    background-size: cover;
}

.jh__logo {
    width: 100px;
    height: 100px;
    svg {
        width: 100px;
        height: 100px;
    }
}
