.wrapper {
    clear: both;
    width: 100%;
}

.wrapper--alt {
    background: $smoke;
}

.wrapper--dark {
    background-size: cover;
    color: $white;

    a {
        border-bottom: 1px solid rgba($white, 0.25);
        color: $white;

        &:hover {
            text-decoration: none;
            border-color: $white;
        }
    }
}

.container {
    @extend .clearfix;
    margin: 0 auto;
    padding-right: $half-spacing;
    padding-left: $half-spacing;
    width: auto;
    max-width: 1020px;
    list-style: none;

    @include media-query(min, $lap-start) {
        padding-right: $base-spacing;
        padding-left: $base-spacing;
    }

    // @include media-query(min, ($page-width + 2*$base-spacing)) {
    //     width: $page-width;
    // }
}

.container--skinny {
    max-width: 800px;
}


.text--center {
    text-align: center!important;
}

.section-title {
    padding-top: $half-spacing;
    text-align: center;
    @include font-size(24px);

    @include media-query(min, $desk-start) {
        margin-bottom: 2*$base-spacing;
        padding-top: $base-spacing;
        font-weight: normal;
        @include font-size(26px);
    }
}

// USP Overview

.overview {}

.usp {
    @include clearfix();
    margin-bottom: $base-spacing;
    position: relative;
    @include media-query(min, $lap-start) {
        min-height: 500px;
    }
}

.usp__thumb {

    display: none;

    @include media-query(min, $lap-start) {
        position: absolute;
        left: 50%;
        top: 0;
        display: block;
    }
}

.usp__content {

    @include media-query(min, $lap-start) {
        width: 46%;
    }
}

.usp__title {
    color: $navy;
    @include media-query(min, $desk-start) {
        padding-top: $base-spacing*3;
        font-weight: normal;
        @include font-size(40px);
    }
}

.usp__platforms {
    margin-top: $base-spacing*2;
    img {
        width: 124px;
    }
}

// Feature list

.features {}

.feature {
    @include clearfix();
    margin-bottom: $base-spacing;
}

.feature__thumb {
    float: left;
    margin-right: $base-spacing;
    width: 100px;
    border-radius: 100%;

    @include media-query(max, $lap-start) {
        display: none;
    }
}



.feature__content {
    position: relative;
    padding-left: 100px;
    overflow: hidden;

    > :last-child {
        margin-bottom: 0;
    }
}

.feature__title {
    .svg-icon {
        color: $red;
        width: 30px;
        height: 30px;
        margin-right: $half-spacing;
    }
}

.new {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 3px;
    padding: 3px 5px;
    background: #4FA83D;
    color: white;
    @include font-size(12px);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 2px;
}

.support {
    position: relative;
    margin-bottom: $base-spacing;
    padding-top: $base-spacing;
    @include font-size(12px);
    text-align: center;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        margin-left: -25%;
        height: 1px;
        background: $silver-lt;
    }

    li {
        display: inline;
        margin: 0 $half-spacing 0 0;
    }

    @include media-query(min, $desk-start) {
        margin-top: $base-spacing;
        padding-top: 2*$base-spacing;
    }
}

.quote {
    margin-bottom: $base-spacing;

    > :last-child {
        margin-bottom: 0;
    }

    @include media-query(min, $desk-start) {
        @include font-size(18px);
    }
}

.quote__text {}

.quote__source {
    @include font-size(12px);

    &:before {
        content: "\2014";
        margin-right: 0.5em;
    }
}


// Install instructions

.install {}
