/* General purpose
======================================== */

.wrapper {
    clear: both;
    width: 100%;
    padding-top: $base-spacing;
    padding-bottom: $base-spacing;

    @include media-query(min, $desk-start) {
        padding-top: 2*$base-spacing;
        padding-bottom: 2*$base-spacing;
    }
}

.wrapper--alt {
    background: $smoke;
}

.wrapper--dark {
    background: $navy;
    color: $white;

    a {
        border-bottom: 1px solid rgba($white, 0.25);
        color: $white;

        &:hover {
            text-decoration: none;
            border-color: $white;
        }
    }
}

.container {
    @extend .clearfix;
    margin: 0 auto;
    padding-right: $half-spacing;
    padding-left: $half-spacing;
    width: auto;
    max-width: 1020px;
    list-style: none;

    @include media-query(min, $lap-start) {
        padding-right: $base-spacing;
        padding-left: $base-spacing;
    }

    // @include media-query(min, ($page-width + 2*$base-spacing)) {
    //     width: $page-width;
    // }
}

.container--skinny {
    max-width: 800px;
}

.grid {
    @include clearfix();
    @include list-reset();
    margin-bottom: 0;
    margin-left: -4%;
}

.grid__cell {
    float: left;
    padding-left: 4%;
    width: 100%;
}

@include media-query(max, $lap-start) {
    .palm-2up {
        .grid__cell {
            width: 50%;

            &:nth-child(2n+1) {
                clear: left;
            }
        }
    }

    .palm-4up {
        .grid__cell {
            width: 25%;

            &:nth-child(4n+1) {
                clear: left;
            }
        }
    }
}

@include media-query-bracket($lap-start, $desk-start) {
    .lap-2up {
        .grid__cell {
            width: 50%;

            &:nth-child(2n+1) {
                clear: left;
            }
        }
    }

    .lap-4up {
        .grid__cell {
            width: 25%;

            &:nth-child(4n+1) {
                clear: left;
            }
        }
    }
}

@include media-query(min, $desk-start) {
    .desk-2up {
        .grid__cell {
            width: 50%;

            &:nth-child(2n+1) {
                clear: left;
            }
        }
    }

    .desk-4up {
        .grid__cell {
            width: 25%;

            &:nth-child(4n+1) {
                clear: left;
            }
        }
    }
}


/* Content
======================================== */

.text--center {
    text-align: center!important;
}

.section-title {
    padding-top: $half-spacing;
    text-align: center;
    @include font-size(24px);

    @include media-query(min, $desk-start) {
        margin-bottom: 2*$base-spacing;
        padding-top: $base-spacing;
        font-weight: normal;
        @include font-size(36px);
    }
}


/* Sections
======================================== */

// Introduction

.intro {
    padding-top: 0;
    text-align: center;
}

.hook {
    margin: 0 auto $base-spacing;
    padding-top: 0;

    @include media-query(min, $lap-start) {
        padding-top: $base-spacing;
    }

    @include media-query(min, $desk-start) {
        padding-top: 2*$base-spacing;
        @include font-size(48px);
    }
}

.ronseal {
    margin: 0 auto $base-spacing;
    @include font-size(18px);


    @include media-query(min, $desk-start) {
        // margin-bottom: 2*$base-spacing;
        @include font-size(24px);
    }
}

.cta {
    margin: 0 0 $base-spacing;

    .button {
        border: 0!important;
    }

    .stat {
        display: block;
        margin-top: $half-spacing;
        @include font-size(12px);
    }

    @include media-query(min, $desk-start) {
        margin-bottom: 2*$base-spacing;

        .button {
            padding: 1.5*$half-spacing 1.5*$base-spacing;
            @include font-size(24px);
        }
    }
}

.hero {
    border: $half-spacing/2 solid rgba(0,0,0,0.5);

    @include media-query(min, $desk-start) {
        margin: 0 auto $base-spacing;
        max-width: 75%;
    }
}


// USP Overview

.overview {}

.usp {
    @include clearfix();
    margin-bottom: $base-spacing;
}

.usp__thumb {
    border: 1px solid $silver;

    @include media-query(min, $lap-start) {
        float: left;
        width: 50%;
    }
}

.usp__content {
    overflow: hidden;

    > :last-child {
        margin-bottom: 0;
    }

    @include media-query(min, $lap-start) {
        padding-left: $base-spacing;
    }
}

.usp__title {
    @include media-query(min, $desk-start) {
        @include font-size(24px);
    }
}


// Feature list

.features {}

.feature {
    @include clearfix();
    margin-bottom: $base-spacing;
}

.feature__thumb {
    float: left;
    margin-right: $base-spacing;
    width: 100px;
    border-radius: 100%;

    @include media-query(max, $lap-start) {
        display: none;
    }
}

.feature__content {
    overflow: hidden;

    > :last-child {
        margin-bottom: 0;
    }
}

.feature__title {}

.new {
    display: inline-block;
    vertical-align: bottom;
    margin: 0 3px;
    padding: 3px 5px;
    background: #4FA83D;
    color: white;
    @include font-size(12px);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 2px;
}

.support {
    position: relative;
    margin-bottom: $base-spacing;
    padding-top: $base-spacing;
    @include font-size(12px);
    text-align: center;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 50%;
        width: 50%;
        margin-left: -25%;
        height: 1px;
        background: $silver-lt;
    }

    li {
        display: inline;
        margin: 0 $half-spacing 0 0;
    }

    @include media-query(min, $desk-start) {
        margin-top: $base-spacing;
        padding-top: 2*$base-spacing;
    }
}


// User testimony

.users {}

.logo {
    margin: 0 auto $base-spacing;

    @include media-query(min, $desk-start) {
        margin-bottom: 2*$base-spacing;
    }
}

.quote {
    margin-bottom: $base-spacing;

    > :last-child {
        margin-bottom: 0;
    }

    @include media-query(min, $desk-start) {
        @include font-size(18px);
    }
}

.quote__text {}

.quote__source {
    @include font-size(12px);

    &:before {
        content: "\2014";
        margin-right: 0.5em;
    }
}


// Install instructions

.install {}
