a {
    color: $link;
    transition: border 0.3s ease, background 0.3s ease, color 0.3s ease;

    &:hover,
    &:focus {
        color: $link-hover;
        text-decoration: underline;
    }

    [class^="icon-"],
    [class*=" icon-"] {
        text-decoration: none;
    }
}
