.clearfix {
    @include clearfix();
}

section + section {

    border-top: 1px solid $silver-lt;
}

hr {
    border-color: $silver;
}

h2 {
    color: $red;
}

h3 {

    i {

        display: inline-block;
        margin-right: $half-spacing/2;
        width: 1em;
        color: $red;
        text-align: center;
    }
}

.fl {
    float: left;
    margin-right: $base-spacing;
}

.ct {
    display: block;
    margin-right: auto;
    margin-left: auto;
}



.banner {
    padding-top: $half-spacing;
    padding-bottom: $half-spacing;
    text-align: center;
}

.banner__logo {
    display: inline-block;
    img {
        width: 100px;
    }
    @include media-query(min, $desk-start) {
        position: absolute;
        top: $half-spacing;
        left: 0;
    }
}

.banner {
    max-width: $page-width;
    padding: $half-spacing;
    margin: 0 auto;
    position: relative;

    @include media-query(min, $desk-start) {
        text-align: left;
        padding-left: 100px + $half-spacing;
        //min-height: 140px;
    }
}

.banner__content {
    padding-top: $half-spacing;
}

[hl] {
    border: 1px solid red;
}
