.clearfix {
    @include clearfix();
}

section + section {

    border-top: 1px solid $silver-lt;
}

hr {
    border-color: $silver;
}

h2 {
    color: $red;
}

h3 {

    i {

        display: inline-block;
        margin-right: $half-spacing/2;
        width: 1em;
        color: $red;
        text-align: center;
    }
}

code {

    color: $teal;
}

pre {

    overflow: auto;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: $half-spacing/2 $half-spacing;
    color: $white;
    background: $navy;
    border-radius: $half-radius;

    code {
        color: $white;
        line-height: 1.25;
    }
}




.fl {
    float: left;
    margin-right: $base-spacing;
}

.ct {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.player {

    font-size: 0;

    border: $half-spacing/2 solid rgba(0,0,0,0.5);

    @include media-query(min, $desk-start) {
        max-width: 700px;
        margin: 0 auto;
    }
}
