$small-nav-height: $header-height - 30px;

.nav-link {

    display: inline-block;
    color: white;
    padding: 0 $half-spacing;
    height: $small-nav-height;
    transition: background .3s;

    &:active {
        transform: scale(0.98);
    }

    &.mono {
        font-family: monospace;
    }
}

.nav__item {

    display: inline-block;
    line-height: $small-nav-height;
    margin: 0;
    padding: 0;

    margin-right: $half-spacing/2;
    border-bottom: rgba(white, 0);

    &.active {
        .nav-link {
            font-weight: bold;
        }
    }

    .nav-link {
        position: relative;
        &:hover, &:focus {
            color: $white;
            background: rgba(white, .1);
            text-decoration: none;
        }
    }

    @include media-query(min, $lap-start) {
        margin-right: 0;
        .nav-link {
            height: $header-height;
            line-height: $header-height;
        }
    }
}

.nav__item--right {

    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;

    a {
        height: $header-height;
        line-height: $header-height;
        &:last-child {
            display: none;
        }
    }

    @include media-query(min, $lap-start) {
        position: relative;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        a{
            &:last-child {
                display: block;
            }
        }
    }

    .svg-icon {
        width: $base-spacing;
        height: $base-spacing;
    }
}
