$small-nav-height: $header-height - 30px;

.nav-link {

    display: inline-block;
    color: white;
    padding: 0 $half-spacing;
    height: $small-nav-height;
    transition: background .3s;

    &:active {
        transform: scale(0.98);
    }

    @include media-query(min, $lap-start) {
        height: $header-height;
        line-height: $header-height;
    }

    &:hover, &:focus {
        color: $white;
        background: rgba(white, .1);
        text-decoration: none;
        border-bottom: 1px solid $red;
    }
}

.nav__item {

    display: inline-block;
    line-height: $small-nav-height;
    margin: 0;
    padding: 0;

    margin-right: $half-spacing/2;
    border-bottom: rgba(white, 0);

    @include media-query(min, $lap-start) {
        margin-right: 0;
    }
}

.nav__item--right {

    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0;

    a {
        height: $header-height;
        line-height: $header-height;
    }


    @include media-query(min, $lap-start) {
        position: relative;
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }

    .svg-icon {
        width: $base-spacing;
        height: $base-spacing;
    }
}
