.icon {
    font-size: 16px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../img/icons/svg/sprite.svg");
    background-repeat: no-repeat;
    background-size: 1.25em 15em;
}

.no-svg .icon:before {
    background-image: url("../img/icons/svg/sprite.png");
}

.icon.back-in-time:before {
    background-position: 0em 0em;
    width: 1.25em;
    height: 1.25em;
}

.icon.block:before {
    background-position: 0em -1.25em;
    width: 1.25em;
    height: 1.25em;
}

.icon.book:before {
    background-position: 0em -2.5em;
    width: 1.25em;
    height: 1.25em;
}

.icon.browser:before {
    background-position: 0em -3.75em;
    width: 1.25em;
    height: 1.25em;
}

.icon.check:before {
    background-position: 0em -5em;
    width: 1.25em;
    height: 1.25em;
}

.icon.creative-commons-noncommercial-us:before {
    background-position: 0em -6.25em;
    width: 1.25em;
    height: 1.25em;
}

.icon.list:before {
    background-position: 0em -7.5em;
    width: 1.25em;
    height: 1.25em;
}

.icon.merge:before {
    background-position: 0em -8.75em;
    width: 1.25em;
    height: 1.25em;
}

.icon.network:before {
    background-position: 0em -10em;
    width: 1.25em;
    height: 1.25em;
}

.icon.tablet:before {
    background-position: 0em -11.25em;
    width: 1.25em;
    height: 1.25em;
}

.icon.text:before {
    background-position: 0em -12.5em;
    width: 1.25em;
    height: 1.25em;
}

.icon.tv:before {
    background-position: 0em -13.75em;
    width: 1.25em;
    height: 1.25em;
}

