.step-list {
    margin-left: 0;
    list-style: none;

}

.step {
    position: relative;
    margin-bottom: $base-spacing;
    border: 1px solid $silver;
    padding: $half-spacing $base-spacing;
    background: $white;
    border-radius: $base-radius;

    + .step {
        // margin-top: $base-spacing;

        &:before {
            content: "";
            position: absolute;
            top: -1*($base-spacing + 1);
            left: 50%;
            width: 1px;
            height: $base-spacing;
            background: $silver;
        }
    }
}
