.sub-header {
    background: $navy;
    color: $white
}

.sub-header__intro {

}

.sub-header__title {
font-weight: normal;
}

.sub-header__desc {
    margin-bottom: $base-spacing;
    opacity: 0.7;
}

.sub-header__cta {
    margin-bottom: $base-spacing*2;
}
