.sub-header {
    background: $navy;
    color: $white;
    margin-bottom: $header-height;

}

.sub-header__intro {
    width: 65%;
    padding: $header-height 0;
}

.sub-header__title {
font-weight: normal;
    padding: 0;
}

.sub-header__desc {
    margin-bottom: $base-spacing;
    opacity: 0.7;
}

.sub-header__cta {
    margin: 0;
}
