.commands-list {
    tr {
        border-bottom: 1px solid lighten($silver-lt, 5%);
        td:first-child {
            white-space: nowrap;
            font-weight: bold;
        }
    }
    td {
        padding: $half-spacing/2;
    }
}
