<section class="wrapper wrapper--dark intro">
    <div class="container">

        <h1 class="hook">{{site.tagline}}</h1>
        <p class="ronseal">BrowserSync makes your tweaking and testing faster by synchronising file changes and interactions across multiple devices. It&rsquo;s wicked-fast and totally free.</p>
        <p class="cta"><a class="button button--primary" href="#install">Get Started</a> <span class="stat">{{site.downloads}}</span></p>
        <div class="player">
            {{inc src="_includes/video.hbs"}}
        </div>
    </div>
</section>