<section class="wrapper intro">
    <div class="overlay">
        <div class="overlay__close">{{inc src="icon.hbs" icon="cross"}}</div>
        <div class="overlay__content">
            <div class="overlay__video">
                <!--<iframe name='quickcast' src='http://quick.as/embed/az3sxrb' scrolling='no' frameborder='0' width="100%" allowfullscreen></iframe><script src='http://quick.as/embed/script/1.60'></script>-->
            </div>
        </div>
    </div>
    <div class="container">

        {{inc src="icon.hbs" icon="logo" class="logo logo--large"}}

        <h1 class="hook">{{site.tagline}}</h1>

        <p class="ronseal">It&rsquo;s wicked-fast and totally free.</p>

        <p class="video">
            <a class="video__link" href="#">
                {{inc src="icon.hbs" icon="circle-play"}}
            </a>
        </p>

        <p class="how-to"><p class="how-to__command">npm install -g browser-sync</p></p>

        <p class="cta">
            <a class="button button--primary" href="#install" title="Get Started">Get Started</a>
        </p>

        <div class="player">
            <p>'bonjour</p>
        </div>
    </div>
</section>
