<section class="wrapper intro">
    <div class="container">

        {{inc src="icon.hbs" icon="logo" class="logo logo--large"}}

        <h1 class="hook">{{site.tagline}}</h1>

        <p class="ronseal">It&rsquo;s wicked-fast and totally free.</p>

        {{inc src="icon.hbs" icon="circle-play"}}

        <p class="cta"><a class="button button--primary" href="#install">Get Started</a> <span class="stat">{{site.downloads}}</span></p>

        <div class="player">
            <p>'bonjour</p>
        </div>
    </div>
</section>
