<section class="wrapper integrations">
    <div class="container">
        <p class="integrations__text">
            Works stand-alone, or integrates with your current build tools
        </p>
        <img src="/img/build-tools.png" class="integrations__thumb" alt=""/>
    </div>
</section>
