<section class="wrapper overview">
    <div class="container">
        <!-- Speed -->
        <div class="usp">
            <div class="usp__content">
                <h2 class="usp__title">Your indispensable test assistant.</h2>
                <p>With each web page, device and browser, testing time grows exponentially. From live reloads to URL pushing, form replication to click mirroring, Browsersync cuts out repetitive manual tasks. It’s like an extra pair of hands.Customise an array of sync settings from the UI or command line to create a personalised test environment. Need more control? Browsersync is easily integrated with your web platform, build tools and other Node.js projects.</p>
            </div>
            <div class="usp__thumb">
                <img src="img/ezgif.com-optimize.gif" alt=""/>
            </div>
            <div class="usp__platforms">
                <div class="img"></div>
            </div>
        </div>
    </div>
</section>
