<section class="wrapper overview">
    <div class="container container--skinny">

        <h2 class="section-title">Your indispensable test assistant.</h2>
        <!-- Speed -->
        <div class="usp">
            <img class="usp__thumb" src="/img/history.png" alt="URL History">
            <div class="usp__content">
                <h3 class="usp__title">Streamlines your process.</h3>
                <p>With each web page, device and browser, testing time grows exponentially. From live reloads to URL pushing, form replication to click mirroring, BrowserSync cuts out repetitive manual tasks. It&rsquo;s like an extra pair of hands.</p>
                <!-- <p><a href=""><i class="icon icon-play-circle"></i> <strong>Speed Demo</strong></a></p> -->
            </div>
        </div>
        <!-- Portability -->
        <div class="usp">
            <img class="usp__thumb" src="/img/rwd-demo.gif" alt="Responsive UI">
            <div class="usp__content">
                <h3 class="usp__title">Works where you need it to.</h3>
                <p>BrowserSync is built with web tech, so you can install on OS X, Windows or Linux, then serve local sites to a huge range of browsers and devices. Even the UI runs in a browser &mdash; try it on a tablet to create a second-screen control panel.</p>
                <!-- <p><a href=""><i class="icon icon-play-circle"></i> <strong>Portability Demo</strong></a></p> -->
            </div>
        </div>
        <!-- Integration -->
        <div class="usp">
            <img class="usp__thumb" src="/img/scroll-demo.gif" alt="Sync Options">
            <div class="usp__content">
                <h3 class="usp__title">Slots right into your workflow.</h3>
                <p>Customise an array of sync settings from the UI or command line to create a personalised test envrionment. Need more control? BrowserSync is easily integrated with your web platform, build tools and other Node.js projects.</p>
                <!-- <p><a href=""><i class="icon icon-play-circle"></i> <strong>Integration Demo</strong></a></p> -->
            </div>
        </div>

    </div>
</section>