<section class="wrapper wrapper--alt users">
    <div class="container">

        <h2 class="section-title">Tried and trusted.</h2>
        <!--<ul class="grid palm-2up lap-4up desk-4up logos">-->
        <!--<li class="grid__cell"><img class="logo" src="http://placehold.it/200x100&text=logo" alt=""></li>-->
        <!--<li class="grid__cell"><img class="logo" src="http://placehold.it/200x100&text=logo" alt=""></li>-->
        <!--<li class="grid__cell"><img class="logo" src="http://placehold.it/200x100&text=logo" alt=""></li>-->
        <!--<li class="grid__cell"><img class="logo" src="http://placehold.it/200x100&text=logo" alt=""></li>-->
        <!--</ul>-->
        <div class="grid lap-2up desk-2up">
            <li class="grid__cell">
                <blockquote class="quote">
                    <p class="quote__text">Want to feel like a modern day demigod? Fire up BrowserSync and control an entire device lab with your phone.</p>
                    <p class="quote__source">Dave Rupert, Paravel and Shop Talk Show</p>
                </blockquote>
            </li>
            <li class="grid__cell">
                <blockquote class="quote">
                    <p class="quote__text">It has a fantastic feature-set and at least 5 developers I&rsquo;ve spoken to this week alone swear by it for their own synchronized cross-device testing. </p>
                    <p class="quote__source">Addy Osmani, Google</p>
                </blockquote>
            </li>
            <li class="grid__cell">
                <blockquote class="quote">
                    <p class="quote__text">BrowserSync looks like an neat utility for responsive designs, synchronizing URLs and reloads across devices.</p>
                    <p class="quote__source">Ethan Marcotte, Responsive Web Design</p>
                </blockquote>
            </li>
            <li class="grid__cell">
                <blockquote class="quote">
                    <p class="quote__text">Oh BrowserSync, how I love thee. Farewell Command R, my left thumb and index finger shall miss you not.</p>
                    <p class="quote__source">Brad Sawicki, Eleven Eleven</p>
                </blockquote>
            </li>
        </div>

    </div>
</section>