<section class="wrapper wrapper--alt users">
    <div class="container">
        <h2 class="section-title">Tried and trusted.</h2>
        <div class="user__list">
            <div class="user__logo">
                <img src="/img/user-paravel.png" alt="Paravel uses Browsersync"/>
            </div>
            <div class="user__logo google">
                <img src="/img/user-google.png" alt="Google uses Browsersync"/>
            </div>
            <div class="user__logo adobe">
                <img src="/img/user-adobe.png" alt="Adobe uses Browsersync"/>
            </div>
        </div>
        <div class="user__list">
            <div class="user__person">
                <img src="/img/user-rupert.jpeg" alt=""/>
                <div class="person__quote">
                    <p class="person__name">Dave Rupert</p>
                    <blockquote>
                        <p>Want to feel like a modern day demigod? Fire up Browsersync and control an entire device lab with your phone.</p>
                    </blockquote>
                    <p><a href="#">Paravel</a> and <a href="">Shop Talk Show</a></p>
                </div>
            </div>
            <div class="user__person">
                <img src="/img/user-addy.jpg" alt=""/>
                <div class="person__quote">
                    <p class="person__name">Addy Osmani</p>
                    <blockquote>
                        <p>It has a fantastic feature-set and at least 5 developers I’ve spoken to this week alone swear by it for their own synchronized cross-device testing.
                        </p>
                    </blockquote>
                    <p><a href="#">Google</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
