.site-footer {}

.credit {}

.credit__thumb {
    float: right;
    border: 0!important;
    width: 100px;
    margin: 0 0 $half-spacing $base-spacing;

    img {
        border: 1px solid rgba($white, 0.1);
    }

    &:hover {
        background: #e0180b;
    }

    @include media-query(min, $lap-start) {
        float: left;
        margin: 0 $base-spacing 0 0;
    }
}

.credit__content {
    @include media-query(min, $lap-start) {
        overflow: hidden;
    }
}
