.site-header {
    text-align: center;
    padding-top: $base-spacing;
    padding-bottom: $base-spacing;

    &.alt {
        padding-top: 0;
        padding-bottom: 0;
    }

    // @include media-query(min, $lap-start) {
    //     line-height: 1.5*$base-spacing;
    // }
}

.site-logo {
    border: 0!important;
    font-weight: bold;
    @include font-size(24px);

    @include media-query(min, $lap-start) {
        float: left;
    }
}

.site-nav {
    margin: $half-spacing 0 0;

    li {
        margin: 0 $half-spacing;
    }

    @include media-query(min, $lap-start) {
        float: right;
        // margin-top: $half-spacing/2;

        li {
            margin-right: 0;
            margin-left: $base-spacing;
        }
    }
}

.docs-nav {

    display: inline-block;

    li {

        margin: 0;

        &:first-child {
            display: inline-block;
            margin-bottom: 0;
        }

        a {
            padding: 5px;

            &:hover {
                color: $lime;
                text-decoration: none;

            }

            &.active {

                color: grey;
                cursor: default;

                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
